* {
    padding:0;
    margin:0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

.top-wrapper {
    padding: 7px 0;
    background-color: #04415A ;
}
.top-wrapper li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    }
.container {
    width:80%;
    margin:0 auto;
    font-style:unset ;
    
}
.container h1{
    padding-top:1px;
    padding-bottom:1px;
    margin-top: 4px;
}
.container:after {
    content :'';
    display:block;
    clear :both;
}
header h1 {
    float:left;
    padding :5px 0 ;
    color:#6ba3b9;
}
header ul {
    float:right;
}
header li {
    display :inline-block;
}
header li a {
    padding : 15px 10px;
    display : inline-block;
}
header li a:hover {
    background-color:#04415A;
    color:#fff;
}
.active {
    background-color:#04415A;
    color:#fff;
}

 body {
    background-color: #fff;
 }
.welcome{
    text-align:center;
    background-image: url(./banner.jpg);
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -180px;
}
.title {
    padding-top: 60px;
    font-style: unset;
    color:rgb(137, 175, 201);
}

.title h2{
    padding-top: 15px; 
    color:#fff;
}

.name {
    background-color: rgb(226, 220, 212);
}

.name h1 {
    padding-top: 50px;
    color: #04415A;
    text-align: center;
}

.name p {
    color: #fff;
}


.description h2 {
    padding-top: 50px;
    padding-bottom:20px;
    text-align: center;
    color:#5d998d;
}

.description p {
    color:black;
    padding-top: 5px;
    text-align: center;
}

.service {
    padding-top:50px;
}

.contact  {
    padding-top: 200px;
    padding-bottom:20px;
}

.box {
    color:#148f77  ;
}
.box .col-4 {
    width:15%;
    padding: 20px;
    box-sizing: border-box;
    text-align:center;
    float:left;
    margin-left: 100px;
}

.col-4 h4 {
    padding: 20px;
    text-align: center;
}

.icon{
    width: 70px;
    height:70px;
    border:1px solid;
    border-radius:50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin:0 auto;
}

.contact{
    text-align: center;
    color:#148f77;
}

footer {
     padding:7px 0;
     background-color:black;
     color:#fff;
     text-align: center;
}
.contact p{
    border: 1px 0 #fff;
    padding:5px;
}

@media screen and (max-width: 768px) {
    .container {
        width:90%;
    }
}

:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }